.wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-form {
  margin-bottom: 30px;
}

.headline {
  margin-bottom: 20px;
}

.map {
  width: 100%;
  height: 300px;
}
