<div class="wrapper">
  <form
    class="o-form"
    [formGroup]="locationForm"
    (submit)="saveLocation($event)"
  >
    <div class="o-form__wrapper wrapper-form">
      <input
        class="o-form__input"
        [ngClass]="{
          'o-form__input--error': getError('name') || notFoundError
        }"
        formControlName="name"
        placeholder="Np. Lądek, Lądek Zdrój..."
      />
      <div class="o-message o-message__content" *ngIf="notFoundError">
        Nie znaleziono miejsca
      </div>
      <button
        [disabled]="!locationForm.get('name').value"
        class="o-btn o-btn--primary"
        type="submit"
      >
        Dodaj lokalizację
      </button>
    </div>
  </form>

  <h2 *ngIf="locations.length" class="headline">Lista lokalizacji</h2>
  <div *ngFor="let location of locations">
    <app-location
      (remove)="removeMarker($event)"
      [location]="location"
    ></app-location>
  </div>
</div>

<div class="map" #mapContainer></div>
